<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706018889242-ktn8584dn4dt980hl3ht34cm3f6gcna4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706018889242-ktn8584dn4dt980hl3ht34cm3f6gcna4</string>
	<key>API_KEY</key>
	<string>AIzaSyAvuF8Lc6Ls2-OrMb5unKpLUbNnD7BkQ_c</string>
	<key>GCM_SENDER_ID</key>
	<string>706018889242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleverTech</string>
	<key>PROJECT_ID</key>
	<string>clever-tech-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>clever-tech-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706018889242:ios:a3f3d659c16b1422118ba3</string>
</dict>
</plist>