<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706018889242-2uh4vtf4mj5oj78rn1ibvl1td2bd437h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706018889242-2uh4vtf4mj5oj78rn1ibvl1td2bd437h</string>
	<key>API_KEY</key>
	<string>AIzaSyAvuF8Lc6Ls2-OrMb5unKpLUbNnD7BkQ_c</string>
	<key>GCM_SENDER_ID</key>
	<string>706018889242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleverTech.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>clever-tech-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>clever-tech-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706018889242:ios:82c65db383fc55ca118ba3</string>
</dict>
</plist>